<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thêm Todo</title>
</head>
<style>
  .error{
    color: red;
  }
</style>
<body>

<h2>Sua cong viec</h2>

<form th:action="@{/handleEdit}" th:object="${todo}" method="post">
  <input type="hidden" name="id" th:value="${todo.id}" />
  Nội dung:
  <input type="text" th:field="*{content}">
  <p class="error" th:if="${#fields.hasErrors()}" th:errors="${todo.content}"></p>

  <br>

  Hạn:
  <input type="date"
         name="dueDate"
         th:value="${#temporals.format(todo.dueDate, 'yyyy-MM-dd')}" />
  <p class="error" th:if="${#fields.hasErrors()}" th:errors="${todo.dueDate}"></p>

  <br>

  <select th:field="*{status}">
    <option value="">-- chọn --</option>
    <option value="NEW">NEW</option>
    <option value="DONE">DONE</option>
  </select>

  Ưu tiên:
  <select th:field="*{priority}">
    <option value="">-- chọn --</option>
    <option value="LOW">LOW</option>
    <option value="MEDIUM">MEDIUM</option>
    <option value="HIGH">HIGH</option>
  </select>

  <br><br>

  <button type="submit">Cap Nhat</button>
</form>

<br>


</body>
</html>