<!doctype html>

<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}">Todo</title>
</head>
<body>

<h1 th:text="#{title}"></h1>

<a href="?lang=vi">VI</a> | <a href="?lang=en">EN</a>

<br><br>

<p>
    <span th:text="#{owner}"></span>
    <b th:text="${ownerName}"></b>
</p>

<a href="/add" th:text="#{add}"></a>

<br><br>

<table border="1">
    <tr>
        <th th:text="#{id}"></th>
        <th th:text="#{content}"></th>
        <th th:text="#{date}"></th>
        <th th:text="#{status}"></th>
        <th th:text="#{priority}"></th>
        <th th:text="#{action}"></th>
    </tr>

    ```
    <tr th:each="t : ${todos}">
        <td th:text="${t.id}"></td>
        <td th:text="${t.content}"></td>
        <td th:text="${t.dueDate}"></td>
        <td th:text="${t.status}"></td>
        <td th:text="${t.priority}"></td>
        <td>
            <a th:href="@{|/edit/${t.id}|}" th:text="#{edit}"></a>
            |
            <a th:href="@{|/delete/${t.id}|}"
               th:text="#{delete}"
               onclick="return confirm('Xác nhận xóa?')"></a>
        </td>
    </tr>
    ```

</table>

</body>
</html>
